html,
body {
  margin: 0;
  padding: 0;
}

body {
    min-height: 280px;
    line-height: 1.4;
    font-family:  "times new roman", sans-serif;
    background-color: #ecf0f1;
}

header {
    display: inline-block;
    padding: 10px 15px;
    background-color: #b0c4de;
    width: 100%;
}

.header-menu {
    margin: 0;
    padding: 0;
}

.header-menu li {
    margin: 0 -5px;
    padding: 10px 15px;
    display: inline;
}

.header-menu li a {
    display: inline-block;
    margin: 0 15px;
    padding:;
    text-decoration: none;
}

.header-menu .act a {
    color:#0000cd;
    text-decoration: none;
}

.header-menu .act a:hover {
    color: #0000cd;
    text-decoration: none;
}

.header-menu li a:hover {
    color:  #8a2be2;
}

center {
    max-width: 800px;
}

h1{
    border-bottom: 6px solid #7b68ee;
    max-width: 60%;
}




img {
    border-radius: 13px;
    padding: 0 4px 4px 0;
    border-bottom: 5px solid #6a5acd;
    border-right: 5px solid #483d8b;
}

center .text {
    width: 70%;
    text-align: center;
    font-size: 20px;
    margin: 30px;
}

.footer-menu {
    display: inline-block;
    margin: 0;
    padding: 18px 15px;
    width: 100%;
    background-color: #b0c4de;
    border-top: solid 4px #7b68ee;
}

.footer-menu li {
    margin: 0 -5px;
    padding: 10px 15px;
    display: inline;
}

.footer-menu li a {
    display: inline-block;
    margin: 0 15px;
    padding:;
    text-decoration: none;
}

.footer-menu li a:hover {
    color: #5d70f5; 